/* https://coolors.co/393d3f-fdfdff-c6c5b9-62929e-546a7b*/
* {box-sizing: border-box}
body {
	font-family: Verdana;
	margin: 0;
	background-color: #FDFDFF;
	transition: 0.3s;
	}

	.art_gallery {
		float: left;
	}

	.art_gallery h3 {
		float:left;
		width: 100%;
		text-align: center;
	}

	div.gallery {
	  border: 1px solid #ccc;
	}

	div.gallery:hover {
	  border: 1px solid #777;
	}

	div.gallery img {
	  width: 100%;
	  height: auto;
	}

	div.desc {
	  padding: 15px;
	  text-align: center;
	}

	* {
	  box-sizing: border-box;
	}

	.responsive {
	  padding: 0 6px;
	  float: left;
	  width: 24.99999%;
	}
	.responsive h4 {
		text-align: center;
	}
	@media only screen and (max-width: 700px) {
	  .responsive {
	    width: 49.99999%;
	    margin: 6px 0;
	  }
	}

	@media only screen and (max-width: 500px) {
	  .responsive {
	    width: 100%;
	  }
	}

	.clearfix:after {
	  content: "";
	  display: table;
	  clear: both;
	}
